<div class="cards bordered">
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=1" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=2" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=3" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=4" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=5" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=6" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=7" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=8" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://picsum.photos/400?random=9" alt="Sample Image">
    </div>
    <div class="content">
      <h3>Card Title</h3>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula
        vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor
        elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque
        porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis
        condimentum.
      </div>
    </div>
  </div>

</div>
